Checks: >
    clang-analyzer-*,
    readability-*,
    bugprone-*,
    misc-*,
    -readability-identifier-length,
    -readability-magic-numbers,
    -readability-named-parameter,
    -readability-isolate-declaration,
    -readability-math-missing-parentheses,
    -readability-avoid-nested-conditional-operator,
    -readability-function-cognitive-complexity,
    -misc-non-private-member-variables-in-classes,
    -misc-include-cleaner,
    -misc-no-recursion,
    -bugprone-multi-level-implicit-pointer-conversion,
    -bugprone-easily-swappable-parameters,
    -bugprone-branch-clone
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*\.h$'
